.top-bar {
  display: flex;
  justify-content: center;
  
    &__page-title{
      margin: $sideSpaceMargin;
      text-wrap: nowrap;
      // font-size: max(16px, min(5vw, 24px));
    }

  // &__left, &__right {
  //   display: flex;
  //   align-items: center;
  // }
}